# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore package-lock.json
package-lock.json

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore IDE configuration files
.vscode/
.idea/